/* Issue links from the [#12345] filter. */
.drupalorg-issue-status-info a, .drupalorg-issue-status-info .drupalorg-issue-assigned-user {
  background-color: #cdcdcd;
  -moz-border-radius: 4px; /* Mozilla based browsers */
  -webkit-border-radius: 4px; /* Webkit based browsers */
  border-radius: 4px; /* CSS 3 standard */
  padding: 2px 4px;
}
.drupalorg-issue-status-info .drupalorg-issue-assigned-user {
  white-space: nowrap;
}

/* Coloring based on issue status (issue query results and [#12345] links). */
.drupalorg-issue-status-1 a {
  background-color: #fff;
}
.drupalorg-issue-status-2 a {
  background-color: #c0ffc0;
}
.drupalorg-issue-status-3 a,
.drupalorg-issue-status-4 a,
.drupalorg-issue-status-5 a,
.drupalorg-issue-status-6 a {
  background-color: #ddf;
}
.drupalorg-issue-status-7 a {
  background-color: #ffc9c9;
}
.drupalorg-issue-status-8 a {
  background-color: #ffd;
}
.drupalorg-issue-status-13 a {
  background-color: #ffe7dd;
}
.drupalorg-issue-status-14 a {
  background-color: #e7ffdd;
}

/* Automatic issue links */
.drupalorg-issue-status-2,
.drupalorg-issue-status-3,
.drupalorg-issue-status-5,
.drupalorg-issue-status-6,
.drupalorg-issue-status-7 {
  text-decoration: line-through;
}
